<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>dashbord</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/admin.css" />
    <script src="../static/main.js"></script>
</head>
<body>

    <div class="nav">
        <a href="index.html">Home</a>
        <a href="admin_dashboard.html">FFF Specials</a>
        <a href="orders.html">User Orders</a>
        <a href="accepted_orders.html">Accepted Orders</a>
        <a href=""></a>
        <a href=""></a>
    </div>
    <div class="options">
        <h1 id="lft">Available Items</h1>
        <a href="add_item.html" ><button id="add">Add new item</button></a>

        <div class="imgs">
            <div class="fig">
                <figure>
                    <img src="../static/images/3.jpg" alt="food option">
                    <figcaption>burger</figcaption>
                </figure>
                <p>price: 5.00$</p>
                <a href="edit.html"><button id="edit">Edit</button></a>
                <button onclick="confirmDel()" id="danger">Delete</button>
            </div>
            <div class="fig">
                <figure>
                    <img src="../static/images/4.jpg" alt="food option">
                    <figcaption>jikoni fries</figcaption>
                </figure>
                <p>price: 3.00$</p>
                <a href="edit.html"><button id="edit">Edit</button></a>
                <button onclick="confirmDel()" id="danger">Delete</button>
            </div>
            <div class="fig">
                <figure>
                    <img src="../static/images/7.jpg"  alt="food option">
                    <figcaption>cake</figcaption>
                </figure>
                <p>price: 2.50$</p>
                <a href="edit.html"><button id="edit">Edit</button></a>
                <button onclick="confirmDel()" id="danger">Delete</button>
            </div>
            <div class="fig">
                <figure>
                    <img src="../static/images/9.jpg" alt="food option">
                    <figcaption>french fries</figcaption>
                </figure>
                <p>price: 4.50$</p>
                <a href="edit.html"><button id="edit">Edit</button></a>
                <button onclick="confirmDel()" id="danger">Delete</button>
            </div>            
        </div>
    </div>
    <div id=footer>
        <p>&copy; 2018 Mbishai</p>
    </div>
    
</body>
</html>
